<html>
<head>
    <title> Flappy Bird</title>
    </head>
    <body>
        <canvas id="background"></canvas>
        <canvas id='bird'></canvas>
        <canvas id="pipe"></canvas>    
        <script type="module" src="./browser_control/background_control.js"></script>
    </body>
</html>
